<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">


    <title>Everything is avaialable</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/custom.css">

</head>

<body>
    <% include ./partials/navbar %>

   <%- body -%>



<% include ./partials/footer %>

<% include ./partials/javascript %>
</body>

</html>