<%- layout('layout') -%>

<div class="jumbotron" id="jumbo">
    <div class="container" id="injb" >
        <h1 class="display-3">Enjoy The Full Of Shopping</h1>
        <p>Buy Anything With The Most Resonable Price
        </p>
        <p>
            <a class="btn btn-outline-danger" href="/signup" role="button">Sign Up</a>
        </p>
    </div>
</div>

<div class="container">
    <div class="card-deck">
        <div class="card">
            <img class="card-img-top" src="" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Top Trending</h5>
                <p class="card-text">Explore The Local And Internationl Best Selling Items.</p>
            </div>
            <div class="card-footer">
                <p>
                    <a class="btn btn-secondary" href="#" role="button">View All &raquo;</a>
                </p>
            </div>
        </div>
        <div class="card">
            <img class="card-img-top" src="..." alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Top Trending</h5>
                <p class="card-text">Explore The Local And Internationl Best Selling Items.</p>
            </div>
            <div class="card-footer">
                <p>
                    <a class="btn btn-secondary" href="#" role="button">View All &raquo;</a>
                </p>
            </div>
        </div>
        <div class="card">
            <img class="card-img-top" src="..." alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Top Trending</h5>
                <p class="card-text">Explore The Local And Internationl Best Selling Items.</p>
            </div>
            <div class="card-footer">
                <p>
                    <a class="btn btn-secondary" href="#" role="button">View All &raquo;</a>
                </p>
            </div>
        </div>
    </div>




    <!-- Example row of columns -->
    <!-- <div class="row">
        <div class="col-md-4">
            <h2>Top Grocerry</h2>
            <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum
                 </p>
            <p>
                <a class="btn btn-secondary" href="#" role="button">View All &raquo;</a>
            </p>
        </div>
        <div class="col-md-4">
            <h2>Top Gadgets</h2>
            <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum
                </p>
            <p>
                <a class="btn btn-secondary" href="#" role="button">View All &raquo;</a>
            </p>
        </div>
        <div class="col-md-4">
            <h2>Top Trending</h2>
            <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis
                </p>
            <p>
                <a class="btn btn-secondary" href="#" role="button">View All &raquo;</a>
            </p>
        </div>
    </div> -->

    <hr>

</div>